img{
    height: 120px;
    margin-left: 5px;
    margin-right: 5px;
}
 
#A{
    color: rgb(5, 5, 5);
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    margin-left: 30px;
    margin-top: 50px;
}

#B{
    text-decoration: none;
    font-size: 30px;
    color: rgb(7, 7, 7);
    margin-left: 900px;
    font-family:  'Times New Roman', Times, serif;
}
