body{
    background-image: url(../img/reg.jpg);
}

#reg{
    border: 2px solid black;
    margin-top: 100px;
    margin-left: 50px;
    margin-bottom: 50px;
    height: 500px;
    width: 500px;
    background-color : rgb(244, 238, 238);
}

h2{
    margin-top: 30px;
    font-family: 'Times New Roman', Times, serif;
}
input{
    margin-top: 20px;
    margin-left:20px;
    padding: 10px;
}

label{
    margin-left: 30px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
#submit{
    border: 2px solid black;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size:20px;
    font-weight: bold;
    width: 200px;
}

input:hover{
    background-color: black;
    color: white;
    border: 2px solid white;
    font-family: 'Times New Roman', Times, serif;

}
a{
    text-decoration: none;
    color: black;
}
#p{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    
}