body {
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
}

#A{
  font-size: 20px;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  background-color: #3a488b;
  padding: 50px;
  text-align: center;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}
h2{
  color: #3a488b;
  font-weight: bold;
}
.title{
  font-size: 20px;
  font-weight: bold;

}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color:#3a488b;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: black;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}